@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DancingScript';
    src: local('DancingScript'), url('Fonts/DancingScript-Regular.ttf');
}

.footer-name-font {
    font-family: DancingScript,'Courier New', Courier, monospace;
}