@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #086f8b 0%, #1324aa 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgba(83, 44, 167, 0.3), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #ffffff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(85, 41, 41, 0.4);
    @apply font-bold;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}

.custom-button-disabled {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #086f8b 0%, #1324aa 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgba(83, 44, 167, 0.3), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #ffffff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(85, 41, 41, 0.4);
    @apply font-bold;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    opacity: 0.5;
}

.custom-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

.text-area-shadow {
    box-shadow: 0px 0px 5px 5px #7dacd8 ;
}

.text-area-shadow:focus {
    border-width: 2px;
    border-color: #4299e1; /* Use the appropriate blue color code */
}



.custom-button:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}


